<div class="login"><%= erb :_login_section %></div>

<div class="container">
  <h1>Welcome! Create an Account</h1>
  <p></p>

  <form action="/user/new" method="post" name="create-account">
    <ul>
      <li>Name: <input type="text" name="user[name]"></li>
      <li>Email Address: <input type="text" name="user[email]"></li>
      <li>Password: <input type="password" name="user[password]"></li>
      <li><input type="submit" value="Create!"></li>
    </ul>  


  </form>
</div>

