<div class="container">
  <h1>Ooh~ Welcome to our secret page of casual encounters :)</h1>
  <p>Welcome <%= user_login %>
  
  <form action="/logout" method="get" name="logout">
    <input type="submit" value="Logout!">
  </form> 
</div>
